@import url("https://fonts.googleapis.com/css?family=Shizuru:regular");
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background: #091921;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
}

.titli {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 40px;
    font-family: serif;
    margin: 50px 0px 0px;
    color: #ff4343;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}

.clock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 350px;
    height: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../img/clock.png") 0 0/cover no-repeat, url("../img/pngwing.com.png") center/170px 210px no-repeat, radial-gradient(circle, #25495a 0%, #091921, #091921) 0 0/cover no-repeat;
    z-index: 2;
    -webkit-box-shadow: 0 -15px 15px rgba(134, 134, 134, 0.35), inset 0 -15px 15px #191919, 0 15px 15px rgba(134, 134, 134, 0.35), inset 0 15px 15px #191919;
            box-shadow: 0 -15px 15px rgba(134, 134, 134, 0.35), inset 0 -15px 15px #191919, 0 15px 15px rgba(134, 134, 134, 0.35), inset 0 15px 15px #191919;
    border-radius: 50%;
}
.clock::before {
    content: "";
    position: relative;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    z-index: 99;
}
.clock__hour {
    position: absolute;
    width: 160px;
    height: 160px;
}
.clock__hour_hr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.clock__hour_hr::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    z-index: 5;
    background: #dacb03;
    border-radius: 6px 6px 0 0;
}
.clock__min {
    position: absolute;
    width: 190px;
    height: 190px;
}
.clock__min_mn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 190px;
    height: 190px;
}
.clock__min_mn::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    z-index: 6;
    background: red;
    border-radius: 6px 6px 0 0;
}
.clock__sec {
    position: absolute;
    width: 230px;
    height: 230px;
}
.clock__sec_sc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 230px;
    height: 230px;
}
.clock__sec_sc::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    z-index: 7;
    background: #3b1af6;
    border-radius: 6px 6px 0 0;
}